
.btn {
  display: flex;
  text-decoration: none;
}

.btn {
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1rem;
  font-weight: bold;

  padding: 0.4rem 1rem;

  border: 10px solid transparent;
  border-image: url("./assets/imgs/button/button-border.png") 10 round;

  background-image: url("./assets/imgs/button/button-bg.png");
  background-repeat: repeat;
  background-position: center;
  background-attachment:fixed;
  background-size:auto;

  &:hover {
    opacity: 75%;
  }

  &.small {
    padding: 0.1em 0.1em;
    font-weight: normal;
  }

  &:active {
    border-image: url("./assets/imgs/button/button-border-hover.png") 10 round;

    background-image: url("./assets/imgs/button/button-bg-hover.png");
  }
}