
$bg-opacity: 0.05;
$bg-hover-opacity: 0.3;
$bg-active-opacity: 0.1;

// rgb(41, 44, 51)
// background: radial-gradient(ellipse at center top, rgba(121, 76, 9, 0.1) 0%, rgba(24, 25, 29, 0.1) 100%);
// border-color: rgb(29, 31, 36);
.btn {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;

  background: radial-gradient(ellipse at center top, rgba(121, 76, 9, $bg-opacity) 0%, rgba(24, 25, 29, 0.1) 100%);
  border-color: rgba(41, 44, 51, .5);
  border-width: 1px;
  border-style: solid;
  color: gray;

  padding: 0.5rem;

  &.sm-border {
    border-width: 0.1px;
    border-color: rgba(41, 44, 51, .2);
  }

  &:hover {
    background: radial-gradient(ellipse at center top, rgba(121, 76, 9, $bg-hover-opacity) 0%, rgba(24, 25, 29, 0.1) 100%);
  }

  &:active {
    background: radial-gradient(ellipse at center top, rgba(121, 76, 9, $bg-active-opacity) 0%, rgba(24, 25, 29, 0.1) 100%);
  }

  &.danger {
    background: radial-gradient(ellipse at center top, rgba(255, 0, 0, $bg-opacity) 0%, rgba(24, 25, 29, 0.1) 100%);

    &:hover {
      background: radial-gradient(ellipse at center top, rgba(121, 9, 9, $bg-hover-opacity) 0%, rgba(24, 25, 29, 0.1) 100%);
    }

    &:active {
      background: radial-gradient(ellipse at center top, rgba(121, 9, 9, $bg-active-opacity) 0%, rgba(24, 25, 29, 0.1) 100%);
    }
  }
}