@import url('https://fonts.googleapis.com/css2?family=Nova+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  font-family: 'Spartan', sans-serif;
  background-color: rgb(40, 37, 51);
  color: white;
}

* {
  box-sizing: border-box;
}

.flex {
  display: flex;

  &.column {
    flex-direction: column;
  }
  &.items-center{
    align-items: center;
  }
  &.row {
    flex-direction: row;
  }

  &.justify-between {
    justify-content: space-between;
  }
}

