



.bar {
  width: 100%;
  height: auto;
  background: rgba(51, 55, 64, .2);
  border-color: rgb(41, 44, 51);
  border-style: solid;

  position: relative;
  border-radius: 0.1rem;
  font-size: 10px;
  //display: flex;
  //justify-content: center;
  //align-items: center;


  .title {
    text-align: center;
    right: 0;
    left: 0;
    bottom: 0;
    position: absolute;
    padding: 0.2rem;
    z-index: 20;
  }

  .progress {
    opacity: 0.4;
    width: 0;
    content: " ";
    height: 20px;
    border-radius: 0.1rem;
    border-width: 1px;
    border-style: solid;
    border-color: #00ff00;
    background-color: #007e00;
    filter: blur(0.5px);
  }

}

